<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>
<body>
    <h1>DeleteCampground</h1>
    <form action="/campgrounds/<%= campground._id  %>?_method=DELETE" method="POST">
         <button>Delete Campground</button>
     </form>
     <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
</body>
</html>