<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    
        <li><%= campground.title %></li>
        <li><%= campground.location %></li>
        <div>
        <form action="/campgrounds/<%= campground._id  %>?_method=DELETE" method="POST">
            <button>Delete Campground</button>
        </form>
        </div>
        <a href="/campgrounds/">All Campgrounds</a>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>


    </body>
</html>